/* Add your code in each class */
body {
  background-color: rgb(39, 8, 59);
}

.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  flex-direction: column;
}

.movie-card {
  padding: 50px;
  text-align: center;
  position: absolute;
}

.movie-image {
  display: block;
  position: absolute;
  height: 308%;
  z-index: -1;
}

.movie-details-container {
  text-align: left;
  display: flex;
}

.descriptions {
  color: white;
}

.movie-title {
  color: white;
  font-family: "Arial Narrow Bold", sans-serif;
}

/*A gift from us!*/

.movie-shadow {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

/*
    This gradient was made by this website https://cssgradient.io/
*/
